.App {
  text-align: center;
  margin: 40px 40px;
  border: 1px solid rgb(182, 29, 243);
  background-color: rgb(239, 255, 214);
}

.box{
  margin: 40px auto;
  /* border: 2px solid black; */
}

input{
  width: 300px;
  padding: 10px 20px;
}

button{
  margin-left: 20px;
  color: whitesmoke;
  background-color: darkmagenta;
  padding: 5px 10px;
  border-radius: 10px;
}

li{
  margin: 40px 150px;
  list-style: none;
  text-indent: -20rem;
}

.sub-folder{
  margin: 15px auto;
}